<!-- _includes/nav.html -->
<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">
    <div class="profile">
      <img
        src="{{ '/assets/img/profile-img.png' | relative_url }}"
        alt="Profile photo of Fabrizio Miano"
        class="img-fluid rounded-circle"
      />

      <h1 class="text-light"><a href="{{ '/' | relative_url }}">Fabrizio Miano</a></h1>
      <div class="social-links mt-3 text-center">
        <a href="https://www.linkedin.com/in/fabriziomiano/" target="_blank" class="linkedin"
          ><i class="bx bxl-linkedin"></i
        ></a>
        <a href="https://github.com/fabriziomiano" target="_blank" class="github"
          ><i class="bx bxl-github"></i
        ></a>
        <a href="https://www.instagram.com/fabriziomiano/" target="_blank" class="instagram"
          ><i class="bx bxl-instagram"></i
        ></a>
        <a
          href="https://www.youtube.com/channel/UCidOJoPRopozJ0NveDaWLRQ"
          target="_blank"
          class="youtube"
          ><i class="bx bxl-youtube"></i
        ></a>
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li>
          <a href="#hero" class="nav-link scrollto active"
            ><i class="bx bx-home"></i> <span>Home</span></a
          >
        </li>
        <li>
          <a href="#about" class="nav-link scrollto"
            ><i class="bx bx-user"></i> <span>About</span></a
          >
        </li>
        <li>
          <a href="#resume" class="nav-link scrollto"
            ><i class="bx bx-file-blank"></i> <span>Resume</span></a
          >
        </li>
        <li>
          <a href="#projects" class="nav-link scrollto"
            ><i class="bx bx-chalkboard"></i> <span>Projects</span></a
          >
        </li>
        <li>
          <a href="#publicspeaking" class="nav-link scrollto"
            ><i class="bx bx-slideshow"></i> <span>Public Speaking</span></a
          >
        </li>
        <li>
          <a href="#awards" class="nav-link scrollto"
            ><i class="bx bx-award"></i> <span>Awards</span></a
          >
        </li>
        <li>
          <a href="#publications" class="nav-link scrollto"
            ><i class="bx bx-file"></i> <span>Publications</span></a
          >
        </li>
        <li>
          <a href="#outreach" class="nav-link scrollto"
            ><i class="bx bx-game"></i> <span>Outreach</span></a
          >
        </li>
        <li>
          <a href="#contact" class="nav-link scrollto"
            ><i class="bx bx-envelope"></i> <span>Contact</span></a
          >
        </li>
      </ul>
    </nav>
    <!-- .nav-menu -->
  </div>
</header>
<!-- End Header -->
