// main: ../main.scss
/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 14px;
  padding: 40px 0;
  position: relative;
  border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);

  .copyright {
    p {
      margin-bottom: 0;
    }
  }

  .credits {
    margin-top: 4px;
    font-size: 13px;
    text-align: center;
  }
}